.game{
    height: 100%;
    font-family: 'Cookie', cursive;
    font-size: 40px;
    margin-left: 0.15%;
    margin-right: 0.15%;
    position: relative;
    border: 5px solid #000000;
    margin-top: 40px;
    border-spacing: 100px;
    padding-bottom: 600px;
    text-align: center;
}
.game::after{
    content: '';
    display: block;
    position: absolute;
    width: 22.5%;
    top: -8px;
    left: 76.45%;
    border: 10px solid  rgb(238, 218, 189); ;
}
#adventureHeader{
    text-align: center;
}
#adventureBoard{
    display: flex;
    justify-content: space-between;

}
#charaStats{
    color: #0b2cec;
    width: 25%;
    margin-left: 20px;
}
#enemyStats{
    color: #c02929;
    width: 25%;
    margin-right: 20px;
}
#questChoice{
    text-align: center;
    padding-bottom: 700px;
}
#noUserFound{
    text-align: center;
    padding-bottom: 800px;
}
#bottomInfoAndActions{
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
#lootReadOut{
    text-align: center;
    font-family: 'Cookie', cursive;
}
.actionButtons{
    width: 20%;
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
#encounterText{
    text-shadow: rgb(243, 38, 11) 1px 0 10px;
    height: 300px;
    text-align: center;
    max-width: 80%;
}
.gameoverText{
    display: inline-grid;
    text-align: center;
    max-width: 50%;
}
#gameBoard{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storyImage{
    max-width: 80%;
    max-width: 80%;
}
#fightButton{
    cursor: url('../ArtAssets/cursor-pointer-25.png')55 55, pointer;	
}
#fleeButton{
    cursor: url('../ArtAssets/cursor-direction-19.png')55 55, pointer;
}